$blue: #1f3656;
$blueLight: #314c71;
$green: #558d28;
$black: #222222;
$greyMedium: #444444;
$greyLight: #efefef;
$white: #fefefe;
$orange: #ff8124;

// override bootstrap colours
$primary: $blue;
$secondary: $green;
$light: $black;
$dark: $greyLight;
$border-color: $orange;

//Font-Size
$min-font: 1rem;
$min-small-font: 1.25rem;
$small-font: 1.5rem;
$small-medium-font: 1.75rem;
$medium-font: 2rem;
$medium-large-font: 2.25rem;
$large-font: 2.5rem;
$large-max-font: 2.75rem;
$max-font: 3rem;

// Static variables:
$breakpoint-small: 767px;
