// import sportscard variables
@import "variables";

// import bootstrap variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/carousel";

// sportscard imports
// @import "variables";

// html body
html,
body {
  // background: $greyLight;
  // font-family: "museo-sans", sans-serif;
  font-family: "museo", serif;
  font-style: normal;
  font-weight: 300;
  color: $black;  
}
// body {
// 	margin-top: 4.25rem;
// }

// typography defaults
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "museo", serif;
  font-weight: 500;
}

// global shadow class
// .shadow {
// 	box-shadow: 0 0 20px rgba($black, 0.16);
// }

// bold font weight
b,
strong {
  font-weight: 700;
}

// fix non coloured a links
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]) {
  color: $white;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $green;
  }
}

.orange {
  color: $orange;
}
.white {
  color: white;
}
.black {
  color: black;
}

.light-font-weight {
  font-weight: 300;
}
.medium-font-weight {
  font-weight: 500;
}
.large-font-weight {
  font-weight: 700;
}

.min-size {
  font-size: $min-font;
}
.min-small-size {
  font-size: $min-small-font;
}
.small-size {
  font-size: $small-font;
}
.small-medium-size {
  font-size: $small-medium-font;
}
.medium-size {
  font-size: $medium-font;
}
.medium-large-size {
  font-size: $medium-large-font;
}
.large-size {
  font-size: $large-font;
}
.large-max-size {
  font-size: $large-max-font;
}
.max-size {
  font-size: $max-font;
}

.black-text {
  color: black;
  font-size: $medium-large-font;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.shadow {
  // -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.21);
  // -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.21);
  // box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.21);

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);

  // -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.31);
  // -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.31);
  // box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.21);
}

.btn-primary:hover {
  background-color: #221e1f !important;
}

.img-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-image {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 550px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  overflow: hidden;
}

.property-icon {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}
.property-icon ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 100%;
}
.property-icon ul li a {
  display: block;
  text-align: center;
}
.property-icon ul li a:hover {
  text-decoration: none;
}
.property-icon ul li a img {
  margin: 6px 0 auto;
}
.property-icon ul li a .count {
  display: block;
  color: #ff8124;
  font-weight: 500;
}
.img-responsive {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}
header {
  position: fixed;
  z-index: 9999;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $white;
  .brand-logo {
    width: 70%;
  }
  box-shadow: 0 0 20px rgba($black, 0.31);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-right-links ul li {
  display: inline-block;
  margin-left: 1.35rem;
  a {
    font-size: 1.35rem;
    color: $black;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: $orange;
    }
    b {
      color: $orange;
    }
  }
}

// footer {
h3,
a:hover,
.orange {
  color: $orange;
}
.white {
  color: $white;
}
.black {
  color: $black;
}
a:hover {
  text-decoration: none;
  .orange {
    text-decoration: none;
  }
  .white {
    text-decoration: none;
  }
  .black {
    text-decoration: none;
  }
  i.fa-arrow-right {
    animation: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
}
// }

footer {
  .col-md-6 {
    padding-left: 0;
  }
  background-color: #221e1f;
  color: $white;
  padding: 3.125rem 0 0 0;
  h3 {
    font-size: $small-medium-font;
    border-bottom: $orange 1px solid;
    padding-bottom: 10px;
    margin-bottom: 1.625rem;
    width: 100%;
  }
  a {
    color: $white;
    font-family: "museo-sans", sans-serif;
    font-size: $min-small-font;
  }
}

.quicklinks-container {
  width: 35%;
  margin-left: 1%;
}
.ourlocation-container {
  width: 25%;
  margin: 0px 2%;
}
.feellike-container {
  width: 34%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &.first-block {
    margin-right: 45px;
  }
}

.footer-bottom-link {
  display: none;
}

.footer-top {
  .col-md-3,
  .col-md-4,
  .col-md-5 {
    padding: 2% !important;
  }
}

.footer-last-block-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p {
    font-size: $min-small-font;
    margin: 0;
  }
}

.footer-bottom {
  ul li {
    display: inline-block;
    margin-left: 16px;
  }
  a.cg {
    display: block;
    max-width: 153px;
    max-height: 58px;
  }
  margin-top: 30px;
  background-color: $orange;
  padding: 2rem 0;
  ul li a {
    display: block;
    max-width: 56px;
    max-height: 52px;
  }
}

ul.ourlocation {
  width: 100%;
}

.ourlocation li {
  margin-bottom: 10px;
}

li {
  margin-bottom: 13px;
  position: relative;
  // .white, .black{
  // 	font-size: $min-small-font;
  // }
  .fa-arrow-right {
    font-size: $min-font;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $white;
    height: 100%;
    //   transform: translateY(-50%);
  }
}

li .fa-arrow-right,
.footer-last-block-content p span {
  color: $orange;
}

.feellike-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  .heading {
    line-height: 25px;
    font-size: $min-small-font;
    margin-bottom: 23px;
  }
  .form-control {
    border: $orange 1px solid;
    border-radius: 0;
    font-size: $min-small-font;
    color: $white !important;
    padding: 23px 10px !important;
    background-color: transparent;
    width: 100%;
  }
  .btn {
    color: $white !important;
    font-size: $small-font;
    border: none;
    border-radius: 0;
    background: $orange;
    margin: 0px 0px 0px 10px;
    width: 150px;
  }
  .form-inline .form-group {
    width: calc(100% - 160px);
  }
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: $orange;
  border-radius: 100%;
}

.carousel-control-next {
  right: 20px !important;
}

.carousel-control-prev {
  left: 20px !important;
}

.testimonial-content {
  width: 100%;
  height: 100%;
}

.title {
  font-size: $medium-large-font;
  font-weight: 500;
}
.content-title {
  font-size: $small-medium-font;
  font-family: "museo", serif;
  font-weight: 500;
  line-height: 100%;
}
.black-content-text {
  color: black;
  font-size: $small-font;
  margin: 20px 0px;
  width: 70%;
}

::-webkit-input-placeholder {
  color: #c9c9c8 !important;
}
::-moz-placeholder {
  color: #c9c9c8;
}
:-ms-input-placeholder {
  color: #c9c9c8;
}
:-moz-placeholder {
  color: #c9c9c8;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: $breakpoint-small) {
  .header-right-links {
    display: none;
  }
  header {
    .brand-logo {
      width: 75%;
    }
    padding: 1.625rem 0 1.625rem 0;
    .logo {
      display: block;
      width: 100%;
      text-align: center;
    }
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
  }
  .footer-top {
    display: none;
  }

  footer {
    padding: 0;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .footer-bottom {
    margin-top: 0px;
    text-align: center;
    padding: 45px 0 35px 0;
    a.cg {
      max-width: 170px;
      height: 67px;
      margin: 0 auto !important;
    }
    ul li {
      display: inline-block;
      margin-left: 9px;
    }
  }

  footer ul.float-right {
    padding-top: 42px;
    float: inherit !important;
  }

  .footer-bottom-link {
    display: block;
    min-height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #221e1f;
    color: $white;
    font-size: $small-font;
    a {
      color: $white;
      font-size: $min-font;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: $orange;
    border-radius: 100%;
  }

  .carousel-control-next {
    right: 3% !important;
  }

  .carousel-control-prev {
    left: 3% !important;
  }

  .title {
    font-size: $medium-font;
    font-weight: 500;
  }
  .content-title {
    font-size: $small-medium-font;
    font-family: "museo", serif;
    font-weight: 500;
  }
  .black-content-text {
    color: black;
    font-size: $min-small-font;
    margin: 10px 0px;
    width: 80%;
  }

  .mobile-menu {
    width: 100%;
    display: flex;    
    position: fixed;    
    bottom: 0;
    height: 60px;
    background: $orange;    
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.41);
    a {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;      
      img {        
        margin-top: 5px;
        width: 25px; 
      }
      .menu-title {
        color: white;
        font-weight: 500;
        font-size: $min-font;        
      }
    }
  }  
}
